<div class="Container-fluid">
    <div class="row header"> 
        <div class="col-1 logo">
            <img src="assets/icon/ecart-logo.jpg">
        </div>
        <div class="col-7 margin-top">
            <input type="text" placeholder="Enter category or product name..." class="form-control">
        </div>
        <div class="col-2 sign-in-btn margin-top">
            <button class="btn btn-primary">Sign In</button>
        </div>
        <div class="col-1 cart margin-top">
            <div></div>
                <span class="badge bg-danger">4</span>
        </div>
    
    </div>
    <div class="row main-body">
        <div class="col-2 left-menu">
            <ul class="list-group">
                <li class="list-group-item cursor-pointer" *ngFor="let mainCat of mainCategories">
                    <span class="cat-name" [innerHTML]="mainCat.catName"></span>
                    <span class="material-symbols-outlined">
                        arrow_forward_ios
                        </span>
                </li>
            </ul>
        </div>
        <div class="col-8 products">
            <div *ngFor="let product of products">
                <app-product [product]="product"></app-product>
           </div> 
        </div>
        <div class="col-2 ads">RIGHT</div>
    </div>

    <div class="row footer">
        <div class="text-center"><strong>&copy;copyright All Rights Reserved 2023</strong></div>
    </div>
</div>
